@font-face {
    font-family: 'ToyotaText-Regular';
    src: url('../fonts/ToyotaText-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ToyotaText-Regular.woff') format('woff'), url('../fonts/ToyotaText-Regular.ttf')  format('truetype'), url('../fonts/ToyotaText-Regular.svg#ToyotaText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    font-family: 'ToyotaText-Regular' !important;
    background: #000000;
    overflow: hidden;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #033156;
    background-image: url('gradient.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url('../images/car.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.logo{ max-width: 150px;}
.white{color: #FFFFFF;}
h1{
    line-height: 77px;
    font-size: 60px;
}
h2{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}
.hide{display: none}
.subscribe{position: absolute;bottom: 20px;width: 100%;margin: auto;}
.form-control{border-radius: 5px;background-color: #FFFFFF; color: #9B9B9B; letter-spacing: 1.67px; font-size: 15px; padding: 29px 18px ; min-width: 200px;  margin: 10px 0}
.btn-primary{background-color: #D61010;border-radius: 5px; border-color: #D61010; padding: 17px 60px; margin: 10px 0; width: 100% }
.btn-primary:hover { background-color: rgba(216, 216, 216, 0.33); border-color: rgba(216, 216, 216, 0.33); opacity: 0.8; }
.social{font-size: 10px; margin-top: 30px}
.social a { padding-left: 10px; color: rgba(216, 216, 216, 0.33);}
.social a:hover{color:#D61010;}
.social span.white{letter-spacing: 1.02px; text-transform: uppercase; font-size: 9px}

@media only screen and (max-width: 800px) {
    .btn{width: 100%;}
    h1{font-size: 22px; font-weight:bold; line-height: inherit;}
    h2{font-size: 16px;margin-bottom: 0;}
    .wrap{background-position: 50% -15vh;}
    .btn-primary{padding: 7px 60px;}
    .form-control{padding: 19px}

}
@media only screen and (max-width: 400px) {
    .social{font-size: 8px;margin-top: 15px;}
    h1{font-size: 18px; line-height: inherit;}
    h2{font-size: 14px;}
}